{% extends '../base.html'%}

{% block title %}О проекте{% endblock title %}

{% block content %}
    <div class="container">
        <div class="mx-auto my-5 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/1881/1881021.png" alt="" class="d-inline-block align-top" width="25%">
            <h1>AniVibes или же нелегальный рынок сбыта<h1>
        </div>
    </div>

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <p class="h5 text-center">
            Привет! Рад что ты пришёл к нам. Мы выдаём себя за аниме магазин, но мы далеко им не являемся.
            На сайте есть скрытые разделы, в которых вы можете купить то, за чем вы пришли.
            Вам осталось только их отыскать. Удачи вам с этим.
        </p>
    </div>
{% endblock content %}