{% extends '../base.html'%}

{% block title %}Главная страница{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">
            Главная страница
        </h1>

        <p class="h4 text-center mb-5">
            Не особо знаю что сюда поместить, поэтому пока оставляю здесь актуальные мемчики =)
        </p>

        {% comment %} <div class="d-flex flex-row">
            <div class="col"><img src="https://i.pinimg.com/originals/44/72/d3/4472d3cc51c1ce952f175ecbd958620f.png" width="100vw"></div>
            <div class="col"><img src="https://files.speakerdeck.com/presentations/2acd63b5331149feb943dc37aa69f012/slide_75.jpg" width="100vw"></div>
        </div> {% endcomment %}

        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <img src="https://i.pinimg.com/originals/44/72/d3/4472d3cc51c1ce952f175ecbd958620f.png" class="img-fluid">
              </div>
              <div class="col-md-4">
                <img src="https://files.speakerdeck.com/presentations/2acd63b5331149feb943dc37aa69f012/slide_75.jpg" class="img-fluid">
              </div>
              <div class="col-md-4">
                <img src="https://ih1.redbubble.net/image.116789182.2023/st,small,507x507-pad,600x600,f8f8f8.jpg" class="img-fluid">
              </div>
            </div>
          </div>
    </div>
{% endblock content %}